<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
xmlns:float="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>ユーザー情報管理システム</title>
    <link href="/css/login.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/js/jquery-1.10.1.js"></script>
</head>
<script>
	//画面表示時にCookieからユーザーIDを取得
	$(function(){
	        var savedUserId = getCookie("userid");
	        if(savedUserId){
	            $("#userid").val(savedUserId);
	        }
	    });
		
    //ログインイベント
	function login(){
	    var id=$("#userid").val();
	    var password=$("#password").val();
		var idPattern = new RegExp("^[a-zA-Z0-9_-]+$");
		var pwPattern = new RegExp("^[a-zA-Z0-9]+$");

		if(!id){
		    alert("ユーザー名を入力してください！");
		    return false;
		}
		if(!password){
		    alert("パスワードを入力してください！");
		    return false;
		}
		if (!idPattern.test(id)) {
		    alert("ユーザコードは[a-z][A-Z][0-9][_][-]のみで入力してください。");
		    return false;
		}
		if (!pwPattern.test(password)) {
				    alert("パスワードは[a-z][A-Z][0-9]のみで入力してください。");
				    return false;
		}
		if (id.length < 8 || id.length > 20) {
				    alert("ユーザコードは８～20文字以下で入力してください。");
				    return false;
		}
		if (password.length < 8 || password.length > 15) {
				    alert("パスワードは８～15文字以下で入力してください。");
				    return false;
		}
			$("#loginFrom").submit();
		}
		
	function getCookie(name){
		    var cookies = document.cookie.split(";");
		    for(var i = 0; i < cookies.length; i++){
		        var cookie = cookies[i].trim();
		        if(cookie.indexOf(name + "=") == 0){
		            return decodeURIComponent(cookie.substring(name.length + 1));
		        }
		    }
		    return "";
		}	
</script>
<body>
<div class="second_body">
    <form id="loginFrom" action="userLogin" method="post">
        <div class="logo"></div>
        <div class="title-jp">ユーザー情報管理システム_コミットテスト</div>
        <div class="title-en" style="">User Information Management System_commit test</div>
        <div class="message" data-bind="html:message"></div>
        <table border="0" style="width:300px;">
            <tr>
                <td style="white-space:nowrap; padding-bottom: 5px;width:55px;font-size:10px">ユーザーID：</td>
                <td colspan="2"><input type="text"  name="userid" id="userid" class="login" data-bind="value:form.userid" /></td>
            </tr>
            <tr>
                <td class="lable" style="white-space:nowrap; letter-spacing: 0.5em; vertical-align: middle;font-size:10px">パスワード：</td>
                <td colspan="2"><input type="password"  name="password" id="password" class="login" data-bind="value:form.password" /></td>
            </tr>

            <tr>
                <td colspan="3" style="height:27px">
                </td>
            </tr>
            <tr>
                <td colspan="3" style="text-align:left">
                    <input type="button" value="ログイン" class="login_button" onclick="login()" style="font-size: small;"/>
                    <input type="button" value="クリア" class="reset_botton" onclick="reset()" style="font-size: small;"/>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="text-align:left">
                    <span style="color: red;" id="message" th:text="${MSG}"></span>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>