<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
xmlns:float="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>ユーザー情報管理システム</title>
    <link href="/css/login.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/js/jquery-1.10.1.js"></script>
</head>
<script>
	//画面表示時にCookieからユーザーIDを取得
	$(function(){
	    var savedUserCode = getCookie("userCode");
	    if(savedUserCode){
	        $("#userCode").val(savedUserCode);
	    }
	});
		
    //ログインイベント
	function login(){
	    var userCode = $("#userCode").val();
	    var password = $("#password").val();

	    var userCodePattern = new RegExp("^[a-zA-Z0-9_-]+$");
	    var pwPattern = new RegExp("^[a-zA-Z0-9]+$");

	    if(!userCode){
	        alert("ユーザコードを入力してください。");
	        return false;
	    }
	    if(!password){
	        alert("パスワードを入力してください。");
	        return false;
	    }
	    if (!userCodePattern.test(userCode)) {
	        alert("ユーザコードは[a-z][A-Z][0-9][_][-]のみで入力してください。");
	        return false;
	    }
	    if (!pwPattern.test(password)) {
	        alert("パスワードは[a-z][A-Z][0-9]のみで入力してください。");
	        return false;
	    }
	    if (userCode.length < 8 || userCode.length > 20) {
	        alert("ユーザコードは8～20文字で入力してください。");
	        return false;
	    }
	    if (password.length < 8 || password.length > 15) {
	        alert("パスワードは8～15文字で入力してください。");
	        return false;
	    }

	    $("#loginFrom").submit();
	}
		
	function getCookie(name){
		    var cookies = document.cookie.split(";");
		    for(var i = 0; i < cookies.length; i++){
		        var cookie = cookies[i].trim();
		        if(cookie.indexOf(name + "=") == 0){
		            return decodeURIComponent(cookie.substring(name.length + 1));
		        }
		    }
		    return "";
		}	
</script>
<body>
<div class="second_body">
    <form id="loginFrom" action="userLogin" method="post">
        <div class="logo"></div>
        <div class="title-jp">社内統合管理システム</div>
        <div class="title-en" style="">User Information Management System_commit test</div>
        <div class="message" data-bind="html:message"></div>
        <table border="0" style="width:300px;">
            <tr>
                <td style="white-space:nowrap; padding-bottom: 5px;width:55px;font-size:10px">ユーザーID：</td>
                <td colspan="2"><input type="text"  name="userCode" id="userCode" class="login" data-bind="value:form.usercord" /></td>
            </tr>
            <tr>
                <td class="lable" style="white-space:nowrap; letter-spacing: 0.5em; vertical-align: middle;font-size:10px">パスワード：</td>
                <td colspan="2"><input type="password"  name="password" id="password" class="login" data-bind="value:form.password" /></td>
            </tr>

            <tr>
                <td colspan="3" style="height:27px">
                </td>
            </tr>
            <tr>
                <td colspan="3" style="text-align:left">
                    <input type="button" value="ログイン" class="login_button" onclick="login()" style="font-size: small;"/>
                    <input type="button" value="クリア" class="reset_botton" onclick="reset()" style="font-size: small;"/>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="text-align:left">
                    <span style="color: red;" id="message" th:text="${MSG}"></span>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>